// Import all SCSS files using @use syntax
@use 'variables' as *;
@use 'basetheme_fixes' as *;
@use 'portlet_ux' as *;

:root {
  --page-scroll: 0; // updated by JS
}

.btn {
  &.link-hover {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      height: 2px;
      width: 0%;
      background: var(--secondary-color);
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      transition: 0.5s all;
    }

    &:hover {
      &:before {
        width: 100%;
      }
    }
  }

  &.arrow-button {
    margin-top: 1%;

    @media (max-width: 1919px) {
      margin-top: 0;
    }

    &.no-border {
      >a {
        border-color: transparent !important;
      }
    }

    &.primary {
      a {
        color: var(--white-color) !important;
        background: var(--primary-color) !important;

        span {
          border-color: var(--white-color) !important;

          &:before,
          &:after {
            border-color: var(--white-color) !important;
          }
        }
      }
    }

    &.alternate {
      a {
        color: var(--white-color) !important;
        background: var(--secondary-color) !important;
        border-color: var(--secondary-color) !important;

        span {
          border-color: var(--white-color) !important;

          &:before,
          &:after {
            border-color: var(--white-color) !important;
          }
        }

        &:hover {
          span {
            border-color: var(--white-color) !important;
          }
        }
      }
    }

    &.transparent {
      a {
        padding: 0;
        background: transparent;
        color: var(--secondary-color);
        margin: 0;
        border: 0;

        &:hover {
          background: transparent;
          color: var(--secondary-color);
        }

        .next-arrow {
          border-color: var(--secondary-color) !important;
          margin-left: 10px;

          .arrow {

            &:before,
            &:after {
              border-color: var(--secondary-color) !important;
            }
          }
        }
      }
    }

    a {
      color: var(--primary-color);
      background: var(--btn-text-hover);
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      align-items: center;
      border: 2px solid var(--primary-color);
      padding: 12px 25px;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 500;
      font-family: var(--wc-font-family);
      transition: opacity 0.3s ease-in-out, border-color 0.3s ease-in-out,
        transform 0.3s ease-in-out, width 0.3s ease-in-out,
        height 0.3s ease-in-out, opacity 0.3s ease-in-out, left 0.3s ease-in-out,
        right 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;

      @media (max-width: 1919px) {
        padding: 9px 18px;
      }

      @media #{$mq-tablet-lg} {
        font-size: 18px;
        padding: 8px 15px;
      }

      @media #{$mq-tablet-md} {
        padding: 6px 10px;
      }

      @media #{$mq-mobile-sm} {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
      }

      &:hover {
        background-color: var(--btn-text-hover);
        color: var(--primary-color);
        border-color: var(--primary-color);
        transition: opacity 0.3s ease-in-out, border-color 0.3s ease-in-out,
          transform 0.3s ease-in-out, width 0.3s ease-in-out,
          height 0.3s ease-in-out, opacity 0.3s ease-in-out, left 0.3s ease-in-out,
          right 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;

        .next-arrow {
          border-color: var(--primary-color);

          .arrow {
            &:after {
              right: -65%;
              border-color: var(--primary-color);
            }

            &:before {
              border-color: var(--primary-color);
              right: -65%;
            }
          }
        }
      }

      .next-arrow {
        -webkit-transition: background-color 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out;
        width: 30px;
        height: 30px;
        margin-left: 20px;
        margin-right: 10px;
        border: 2px solid var(--primary-color);
        border-radius: 50%;
        display: block;
        position: relative;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        transition: opacity 0.3s ease-in-out, border-color 0.3s ease-in-out,
          transform 0.3s ease-in-out, width 0.3s ease-in-out,
          height 0.3s ease-in-out, opacity 0.3s ease-in-out, left 0.3s ease-in-out,
          right 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;

        .arrow {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 8px;
          right: 0;
          transition: opacity 0.3s ease-in-out, border-color 0.3s ease-in-out,
            transform 0.3s ease-in-out, width 0.3s ease-in-out,
            height 0.3s ease-in-out, opacity 0.3s ease-in-out,
            left 0.3s ease-in-out, right 0.3s ease-in-out,
            -webkit-transform 0.3s ease-in-out;

          &:after {
            left: 0%;
            right: 50%;
            border-top: 2px solid var(--primary-color);
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            -webkit-transition: opacity 0.3s ease-in-out,
              border-color 0.3s ease-in-out, width 0.3s ease-in-out,
              height 0.3s ease-in-out, opacity 0.3s ease-in-out,
              left 0.3s ease-in-out, right 0.3s ease-in-out,
              -webkit-transform 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out, border-color 0.3s ease-in-out,
              width 0.3s ease-in-out, height 0.3s ease-in-out,
              opacity 0.3s ease-in-out, left 0.3s ease-in-out,
              right 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out, border-color 0.3s ease-in-out,
              transform 0.3s ease-in-out, width 0.3s ease-in-out,
              height 0.3s ease-in-out, opacity 0.3s ease-in-out,
              left 0.3s ease-in-out, right 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out, border-color 0.3s ease-in-out,
              transform 0.3s ease-in-out, width 0.3s ease-in-out,
              height 0.3s ease-in-out, opacity 0.3s ease-in-out,
              left 0.3s ease-in-out, right 0.3s ease-in-out,
              -webkit-transform 0.3s ease-in-out;
            content: "";
            position: absolute;
            top: 50%;
          }

          &:before {
            width: 8px;
            height: 8px;
            border: 1px solid var(--primary-color);
            border-width: 2px 2px 0 0;
            right: 50%;
            -webkit-transform: translateY(-50%) rotate(45deg);
            -ms-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
            /* opacity: 0; */
            -webkit-transition: opacity 0.3s ease-in-out,
              border-color 0.3s ease-in-out, width 0.3s ease-in-out,
              height 0.3s ease-in-out, opacity 0.3s ease-in-out,
              left 0.3s ease-in-out, right 0.3s ease-in-out,
              -webkit-transform 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out, border-color 0.3s ease-in-out,
              width 0.3s ease-in-out, height 0.3s ease-in-out,
              opacity 0.3s ease-in-out, left 0.3s ease-in-out,
              right 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out, border-color 0.3s ease-in-out,
              transform 0.3s ease-in-out, width 0.3s ease-in-out,
              height 0.3s ease-in-out, opacity 0.3s ease-in-out,
              left 0.3s ease-in-out, right 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out, border-color 0.3s ease-in-out,
              transform 0.3s ease-in-out, width 0.3s ease-in-out,
              height 0.3s ease-in-out, opacity 0.3s ease-in-out,
              left 0.3s ease-in-out, right 0.3s ease-in-out,
              -webkit-transform 0.3s ease-in-out;
            content: "";
            position: absolute;
            top: 50%;
          }
        }
      }
    }
  }

  &.simple-arrow {
    color: var(--primary-color) !important;
    background: transparent !important;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    align-items: center;
    border: 2px solid var(--primary-color);
    padding: 12px 25px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--wc-font-family);
    transition: opacity 0.3s ease-in-out, border-color 0.3s ease-in-out,
      transform 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out,
      opacity 0.3s ease-in-out, left 0.3s ease-in-out, right 0.3s ease-in-out,
      -webkit-transform 0.3s ease-in-out;
    border-radius: 0 !important;
    position: relative;

    &:before {
      width: 25px;
      height: 25px;
      content: "\f061";
      position: absolute;
      right: -15px;
      top: 30%;
      transition: 1s all;
      font-family: "Font Awesome 5 Free";
      z-index: 1;
    }

    &:after {
      left: auto;
      right: -15px;
      border: 2px solid var(--primary-color);
      content: "";
      position: absolute;
      height: 27px;
      width: 27px;
      transition: 1s all;
      border-radius: 50%;
    }

    &:hover {
      &:before {
        transform: translateY(0) translateX(44%);
      }

      &:after {
        transform: translateY(0%) translateX(0%);
        background: var(--primary-color);
        border: 8px solid var(--wc-body-bg);
      }
    }
  }
}

%underline {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px !important;

  &:before {
    content: "";
    height: 2px;
    width: 80%;
    background: var(--secondary-color);
    position: absolute;
    bottom: 0;
  }
}

%btn-link {
  position: relative;
  background: transparent !important;
  color: var(--primary-color) !important;
  display: flex;
  align-items: center;
  padding-left: 0px !important;

  &:before {
    content: "\f061";
    position: absolute;
    font-family: "Font Awesome 5 Free";
    color: #000;
    font-weight: 900;
    right: -5px;
    z-index: 2;
    font-size: 14px;
    transition: 0.7s all;
  }

  &:after {
    content: "";
    position: absolute;
    border: 2px solid #000;
    border-radius: 50%;
    background: #fff !important;
    height: 26px;
    width: 26px;
    right: -12px;
    opacity: 1;
    transition: 0.5s all;
  }

  &:hover {
    &:after {}

    &:before {
      right: -17px;
      background: #f2f2f2;
    }
  }
}

%events-blur-effect {
  .events-scroller-view-container {
    .ui-datagrid {
      .ui-datagrid-content {
        table {
          tbody {
            transition: 1s all;

            &:hover {
              .ui-datagrid-row {
                filter: blur(2px);
                transition: 1s all;

                &:hover {
                  filter: blur(0px);
                  transition: 1s all;
                }
              }
            }

            .ui-datagrid-row {
              transition: 1s all;
            }
          }
        }
      }
    }
  }
}

body.wcprop-2 .body-inner-wrap #wrapper {
  h1 {
    font-size: calc(var(--wc-fs-heading1) * 1px) !important;
    font-family: var(--wc-heading-font-family1);
    color: var(--heading-color1);
    font-weight: normal;

    @media #{$mq-tablet-lg} {
      font-size: min(50px, calc(var(--wc-fs-heading1) * 1px)) !important;
    }

    @media #{$mq-tablet-md} {
      font-size: min(38px, calc(var(--wc-fs-heading1) * 1px)) !important;
    }

    @media #{$mq-tablet-sm} {
      font-size: min(36px, var(--wc-fs-heading1) * 1px) !important;
    }
  }

  h2 {
    font-size: calc(var(--wc-fs-heading2) * 1px) !important;
    font-family: var(--wc-heading-font-family1);
    color: var(--heading-color2);
    font-weight: normal;

    @media #{$mq-tablet-lg} {
      font-size: min(55px, calc(var(--wc-fs-heading2) * 1px)) !important;
    }

    @media #{$mq-tablet-md} {
      font-size: min(36px, calc(var(--wc-fs-heading2) * 1px)) !important;
    }

    @media #{$mq-tablet-sm} {
      font-size: min(32px, calc(var(--wc-fs-heading2) * 1px)) !important;
    }
  }

  h3 {
    font-size: calc(var(--wc-fs-heading3) * 1px) !important;
    font-family: var(--wc-heading-font-family1);
    color: var(--heading-color3);
    font-weight: normal;

    @media #{$mq-laptop} {
      font-size: min(32px, calc(var(--wc-fs-heading3) * 1px)) !important;
    }

    @media #{$mq-tablet-lg} {
      font-size: min(30px, calc(var(--wc-fs-heading3) * 1px)) !important;
    }

    @media #{$mq-tablet-md} {
      font-size: min(30px, calc(var(--wc-fs-heading3) * 1px)) !important;
    }

    @media #{$mq-tablet-sm} {
      font-size: min(28px, calc(var(--wc-fs-heading3) * 1px)) !important;
    }
  }

  .html-generator-portlet,
  .webc-container,
  footer {

    p,
    a {
      @media #{$mq-tablet-sm} {
        font-size: calc(var(--wc-mobile-font-size) * 1px) !important;
      }
    }
  }
}

/* e.g. change a top bar opacity as user scrolls */




#textured-cssmenu li {
  --texture-nav-radius: 0;

  %main-nav {
    color: var(--menu-font-color) !important;
    background-color: var(--menu-bg-color);
  }

  %subnavhover {
    background-color: var(--submenu-hover-bg-color) !important;
    color: var(--submenu-hover-font-color) !important;

    &:after {
      color: var(--submenu-hover-font-color);
    }
  }

  %subnav {
    color: var(--submenu-font-color) !important;
    background-color: var(--submenu-bg-color) !important;
  }

  &.textured-nav-parent.active {
    &:before {
      // content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: transparent;
      transition: transform 0.3s ease;
      transform: scaleX(1);
    }
  }

  &.active {
    >li {
      @extend %main-nav;

      body.private-page & {
        color: var(--header-bg-color) !important;
      }
    }

    ul {
      li {

        &:hover,
        &:has(.active),
        &:hover,
        &:has(.active),
        &:has(.active)>a>span:after {
          @extend %subnavhover;
        }

        &:has(.active)>a {
          color: var(--menu-active-font-color) !important;
          background: var(--submenu-hover-bg-color) !important;
        }
      }
    }
  }

  ul {
    border-radius: var(--texture-nav-radius);

    >li {
      border-bottom: 1px solid var(--submenu-separator-color);

      &:last-of-type {
        border: 0;
      }

      >a {
        border: 0;
      }

      &:first-of-type {
        border-top-left-radius: var(--texture-nav-radius);
        border-top-right-radius: var(--texture-nav-radius);

        >a,
        >a>span,
        &:hover,
        &:hover>a,
        &:hover>a>span,
        >a,
        >a>span,
        >a:has(.active) {
          border-top-left-radius: var(--texture-nav-radius);
          border-top-right-radius: var(--texture-nav-radius);
        }
      }

      &:last-of-type {
        border-bottom-right-radius: var(--texture-nav-radius);
        border-bottom-left-radius: var(--texture-nav-radius);

        &:hover,
        &:hover>a,
        &:hover>a>span,
        >a,
        >a>span,
        >a:has(.active)>span {
          border-bottom-right-radius: var(--texture-nav-radius);
          border-bottom-left-radius: var(--texture-nav-radius);
        }
      }

      &:only-child {
        border-radius: var(--texture-nav-radius) !important;

        &:hover,
        &:hover>a,
        &:hover>a>span {
          border-radius: var(--texture-nav-radius) !important;
        }
      }
    }
  }
}


/*Base Fixes*/
body.wcprop-2 {
  &.site {
    .portlet-column-content.empty {
      display: none;
    }

    &.has-control-menu {
      .portlet-column-content.empty {
        display: block;
      }
    }
  }

  #ui-area {
    .form-designer-portlet {
      section.portlet .portlet-content-editable form .ui-grid-col-2.btn-responsive {
        display: inline-flex;
        align-items: center;

        a {
          margin: 0;
        }
      }
    }

    section.portlet {
      h2 {
        @media #{$mq-mobile-sm} {
          font-size: calc((var(--wc-fs-heading2) - 2) * 1px);
        }
      }

      h3 {
        @media #{$mq-mobile-sm} {
          font-size: calc((var(--wc-fs-heading3) - 1) * 1px);
        }
      }

      h4 {
        @media #{$mq-mobile-sm} {
          font-size: calc((var(--wc-fs-heading4) - 0) * 1px);
        }
      }

      h5 {
        @media #{$mq-mobile-sm} {
          font-size: calc((var(--wc-fs-heading5) - 2) * 1px);
        }
      }
    }
  }
}

/*Base Fixes Ends*/
/*Default pages*/
body.wcprop-2 {
  #wrapper:has(section#portlet_Two\ Factor\ Authentication){
    top: 0;
  }
  #wrapper-main{
    #portlet_new-password,
    #portlet_password-reminder,
    section#portlet_Two\ Factor\ Authentication {
      margin: 0 !important;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: var(--primary-color);

      .sheet {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        padding: 1%;
        border-radius: 15px;
        @media #{$mq-tablet-sm}{
          margin: 3%;
          padding: 3%;
        }
        .sheet-title{
          &:before,&:after{
            display: none;
          }
        }
      }
    }
  }
}

/*Default Pages End*/