body.wcprop-2 {
    .activities-portlet section.portlet form .activity-legends-dialog {
        position: fixed;
        top: 50% !important;
    }
    .ui-widget-overlay {
        display: none;
    }
}
