/* Media Query */
$mq-4k: "(min-width: 2201px) and (max-width: 4000px)";
$mq-laptop: "(max-width: 1440.98px)";
$mq-tablet-lg: "(max-width: 1199.98px)";
$mq-tablet-md: "(max-width: 991.98px)";
$mq-tablet-sm: "(max-width: 767.98px)";
$mq-mobile-sm: "(max-width: 575.98px)";